global
    daemon
    log stdout local0
    log stdout local1 notice
    user haproxy
    group haproxy

defaults
    mode http
    log global
    option httplog
    option forwardfor

frontend fe_main 
    bind :80
    default_backend be_app 

backend be_app 
    server app1 172.18.0.3:80 check
    server app2 172.18.0.4:80 check
